.yot-container {
  width: 100%;
  padding-right: 1.25rem !important; /* 36px */
  padding-left: 1.25rem !important; /* 36px */
  margin: auto auto;
}

@media (min-width: 36em) {
  .yot-container {
    max-width: 540px;
    margin: auto auto;
  }
}

@media (min-width: 48em) {
  .yot-container {
    max-width: 720px;
    margin: auto auto;
  }
}

@media (min-width: 62em) {
  .yot-container {
    max-width: 1200px;
    margin: auto auto;
  }
}

/* 576px */
@media only screen and (min-width: 36em) { /* Small devices (portrait tablets and large phones)*/
  html {
    font-size: 1.2rem;
  }
}
/* 768px */
@media only screen and (min-width: 48em) { /* Medium devices (landscape tablets) */
  html {
    font-size: 1.4rem;
  }
  .yot-overlay-mid-container-form {
    width: 400px !important;
  }
  .yot-overlay-left {
    width: 41.66% !important;
  }
  .yot-flex-tab {
    display: flex;
  }
  .yot-overlay-mid-container-form-tablet-size-up {
    width: 720px !important;
  }
  .yot-container-w-tablet-size-up {
    width: 500px !important;
  }
  .yot-form-container {
    width: 400px !important;
  }
  .over-view-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 8px 8px;
  }
  .over-view-overlay-mobile {
    width: 41.66% !important;
  }
  .gallery-page-mage-container img {
    width: 400px !important;
  }
}
/* 992px */
@media only screen and (min-width: 62em) { /* Large devices (laptops/desktops) */
  html {
    font-size: 1.6rem;
  }
  .yot-content-space-margin-t-80-remove {
    margin-top: 0px !important;
  }
  .yot-alert-container {
    top: 20px !important;
    width: 350px !important;
  }
  .yot-overlay-mid-container-form-tablet-size-up {
    width: 960px !important;
  }
  .overlayLeftSideBar {
    display: none !important;
  }
  .g-main-container {
    display: flex;
  }
  .g-main-container .g-main-item-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 33.33% !important;
  }
  .g-main-container .g-main-item-right {
    margin-left: 33.33%;
    width: 66.66% !important;
  }
  .cart-list-user-my-cart {
    margin-left: 30% !important;
    left: auto; /* Set to "auto" to remove the "left: 0" declaration */
    height: 700px !important;
  }
}
/* 1200px */
@media only screen and (min-width: 75em) { /* Extra large devices (large laptops and desktops, 1200px and up) */
  .g-main-container {
    display: flex;
  }
  .g-main-container .g-main-item-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20% !important;
  }
  .g-main-container .g-main-item-right {
    margin-left: 20%;
    width: 80% !important;
  }
  .over-view-container {
    grid-template-columns: 24% 24% 24% 24%;
  }
}
/* 1400px */
@media only screen and (min-width: 87.5em) { /* Tv */ }
@media (max-width: 61.9375em) {
  .yot-hide-for-mobile {
    display: none !important;
  }
}

@media (min-width: 62em) {
  .yot-hide-for-desktop {
    display: none !important;
  }
}

@media (max-width: 35.9375em) {
  .yot-hide-for-small-mobile-down {
    display: none !important;
  }
}

@media (min-width: 36em) {
  .yot-hide-for-small-mobile-up {
    display: none !important;
  }
}

@media (max-width: 47.9375em) {
  .yot-hide-for-tablet-down {
    display: none !important;
  }
}

@media (min-width: 48em) {
  .yot-hide-for-tablet-up {
    display: none !important;
  }
}

@media (min-width: 75em) {
  .yot-row-x-large-desktop {
    display: flex;
  }
}

@media (min-width: 62em) {
  .yot-hide-for-large-laptop-up {
    display: none !important;
  }
}

@media (max-width: 61.9375em) {
  .yot-hide-for-large-laptop-down {
    display: none !important;
  }
}

@media (min-width: 48em) {
  .yot-flex-medium-tablet {
    display: flex;
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* Ok to Modified */
  line-height: 1.3;
  font-size: 0.875rem; /* 16px */
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}

/* Okay to Modified */
a, a:visited, a:hover {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

/* Ok to Modified */
h1 {
  font-size: 2.25rem;
} /* 36px */
h2 {
  font-size: 1.875rem;
} /* 30px */
h3 {
  font-size: 1.5rem;
} /* 24px */
h4 {
  font-size: 1.125rem;
} /* 18px */
h5 {
  font-size: 0.875rem;
} /* 14px */
h6 {
  font-size: 0.75rem;
} /* 12px */
p, h1, h2, h3, h4, h5, h6, span {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

i {
  cursor: pointer;
}

.yot-active-bg-white {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
}

.yot-active-bgh1:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
}

.yot-active-bb-white {
  color: hsl(0, 0%, 100%) !important;
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.yot-active-bbh2 {
  color: hsl(0, 0%, 100%);
  border-bottom: 2px solid transparent;
}

.yot-active-bbh2:hover {
  color: hsl(0, 0%, 100%);
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.yot-active-bb-blue {
  color: hsl(221, 70%, 45%) !important;
  border-bottom: 2px solid hsl(221, 70%, 45%);
}

.yot-active-bbh1 {
  color: hsl(0, 0%, 0%);
  border-bottom: 2px solid transparent;
}

.yot-active-bbh1:hover {
  color: hsl(221, 70%, 45%);
  border-bottom: 2px solid hsl(221, 70%, 45%);
}

.yot-alert-container {
  position: absolute;
  right: 10px;
  top: 85px;
  width: 300px;
}

.yot-bg-black1 {
  background-color: hsl(213, 27%, 6%) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-black2 {
  background-color: hsl(216, 19%, 11%) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-grey {
  background-color: hsl(228, 3%, 32%) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-orange {
  background-color: hsl(23, 100%, 50%) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-red {
  background-color: hsl(4, 100%, 50%) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-green {
  background-color: hsl(122, 39%, 49%) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-white {
  background-color: hsl(0, 0%, 100%) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-blue1 {
  background-color: hsl(221, 70%, 45%) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-btn-white1 {
  border: none;
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 0.875rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
}

.yot-btn-white1:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(197, 87%, 59%);
}

.yot-btn-blue1 {
  border: none;
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 0.875rem;
  background-color: hsl(221, 70%, 45%);
  color: hsl(0, 0%, 100%);
}

.yot-btn-blue1:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(197, 87%, 59%);
}

.yot-btn-bad {
  border: none;
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 0.875rem;
  background-color: hsl(4, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.yot-btn1:hover {
  background-color: hsl(23, 100%, 50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-btn1 {
  border: none;
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 0.875rem;
  background-color: hsl(213, 27%, 6%);
  border: 1px solid hsl(23, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

.yot-btn1:hover {
  background-color: hsl(23, 100%, 50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-btn-round {
  border-radius: 25px;
}

.yot-btn-active {
  background-color: hsl(23, 100%, 50%) !important;
}

.yot-btn-dis {
  border: none;
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 0.875rem;
  background-color: hsl(228, 3%, 32%);
  color: hsl(0, 0%, 100%);
  cursor: not-allowed;
}

.yot-border-t {
  border-top: 3px solid hsl(23, 100%, 50%);
}

.yot-border-r {
  border-right: 3px solid hsl(23, 100%, 50%);
}

.yot-border-b {
  border-bottom: 3px solid hsl(23, 100%, 50%);
}

.yot-border-l {
  border-left: 3px solid hsl(23, 100%, 50%);
}

.yot-border-a {
  border: 3px solid hsl(23, 100%, 50%);
}

.yot-container {
  width: 100%;
  padding-right: 1.25rem !important; /* 36px */
  padding-left: 1.25rem !important; /* 36px */
  margin: auto auto;
}

@media (min-width: 36em) {
  .yot-container {
    max-width: 540px;
    margin: auto auto;
  }
}

@media (min-width: 48em) {
  .yot-container {
    max-width: 720px;
    margin: auto auto;
  }
}

@media (min-width: 62em) {
  .yot-container {
    max-width: 1200px;
    margin: auto auto;
  }
}

.yot-content-space-margin-t-0 {
  margin-top: 0rem;
}

.yot-content-space-margin-t-48 {
  margin-top: 3rem;
}

.yot-content-space-margin-t-80 {
  margin-top: 5rem;
}

.yot-content-space-margin-t-120 {
  margin-top: 7.5rem;
}

.yot-content-space-margin-t-160 {
  margin-top: 10rem;
}

.yot-content-space-margin-t-200 {
  margin-top: 12.5rem;
}

.yot-content-space-margin-b-0 {
  margin-bottom: 0rem;
}

.yot-content-space-margin-b-48 {
  margin-bottom: 3rem;
}

.yot-content-space-margin-b-80 {
  margin-bottom: 5rem;
}

.yot-content-space-margin-b-120 {
  margin-bottom: 7.5rem;
}

.yot-content-space-margin-b-160 {
  margin-bottom: 10rem;
}

.yot-content-space-margin-b-200 {
  margin-bottom: 12.5rem;
}

.yot-content-space-margin-tb-0 {
  margin: 0rem;
}

.yot-content-space-margin-tb-48 {
  margin: 3rem 0rem;
}

.yot-content-space-margin-tb-80 {
  margin: 5rem 0rem;
}

.yot-content-space-margin-tb-120 {
  margin: 7.5rem 0rem;
}

.yot-content-space-margin-tb-160 {
  margin: 10rem 0rem;
}

.yot-content-space-margin-tb-200 {
  margin: 12.5rem 0rem;
}

.yot-content-space-padding-t-0 {
  padding-top: 0rem;
}

.yot-content-space-padding-t-48 {
  padding-top: 3rem;
}

.yot-content-space-padding-t-80 {
  padding-top: 5rem;
}

.yot-content-space-padding-t-120 {
  padding-top: 7.5rem;
}

.yot-content-space-padding-t-160 {
  padding-top: 10rem;
}

.yot-content-space-padding-t-200 {
  padding-top: 12.5rem;
}

.yot-content-space-padding-b-0 {
  padding-bottom: 0rem;
}

.yot-content-space-padding-b-48 {
  padding-bottom: 3rem;
}

.yot-content-space-padding-b-80 {
  padding-bottom: 5rem;
}

.yot-content-space-padding-b-120 {
  padding-bottom: 7.5rem;
}

.yot-content-space-padding-b-160 {
  padding-bottom: 10rem;
}

.yot-content-space-padding-b-200 {
  padding-bottom: 12.5rem;
}

.yot-content-space-padding-tb-0 {
  padding: 0rem;
}

.yot-content-space-padding-tb-48 {
  padding: 3rem 0rem;
}

.yot-content-space-padding-tb-80 {
  padding: 5rem 0rem;
}

.yot-content-space-padding-tb-120 {
  padding: 7.5rem 0rem;
}

.yot-content-space-padding-tb-160 {
  padding: 10rem 0rem;
}

.yot-content-space-padding-tb-200 {
  padding: 12.5rem 0rem;
}

.yot-cursor-pointer {
  cursor: pointer;
}

.yot-flex {
  display: flex;
}
.yot-flex-fd-c {
  flex-direction: column;
}
.yot-flex-fd-cr {
  flex-direction: column-reverse;
}
.yot-flex-fd-r {
  flex-direction: row;
}
.yot-flex-fd-rr {
  flex-direction: row-reverse;
}
.yot-flex-fw-w {
  flex-wrap: wrap;
}
.yot-flex-fw-wr {
  flex-wrap: wrap-reverse;
}
.yot-flex-fw-wr {
  flex-flow: row wrap;
}
.yot-flex-jc-c {
  justify-content: center;
}
.yot-flex-jc-fs {
  justify-content: flex-start;
}
.yot-flex-jc-fe {
  justify-content: flex-end;
}
.yot-flex-jc-sa {
  justify-content: space-around;
}
.yot-flex-jc-sb {
  justify-content: space-between;
}
.yot-flex-ai-c {
  align-items: center;
}
.yot-flex-ai-fs {
  align-items: flex-start;
}
.yot-flex-ai-fe {
  align-items: flex-end;
}
.yot-flex-ai-s {
  align-items: stretch;
}
.yot-flex-ai-bl {
  align-items: baseline;
}
.yot-flex-ai-c-jc-fe {
  align-items: center;
  justify-content: flex-end;
}
.yot-flex-fd-c-ai-c-jc-sb {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.yot-flex-fd-rr-ai-c {
  flex-direction: row-reverse;
  align-items: center;
}
.yot-flex-fd-c-ai-fe {
  flex-direction: column;
  align-items: flex-end;
}
.yot-flex-ai-c-jc-c {
  align-items: center;
  justify-content: center;
}
.yot-flex-ai-c-jc-sb {
  align-items: center;
  justify-content: space-between;
}
.yot-flex-ai-c-jc-se {
  align-items: center;
  justify-content: space-evenly;
}
.yot-flex-fd-c-ai-c {
  flex-direction: column;
  align-items: center;
}
.yot-flex-fd-c-c {
  flex-direction: column;
  align-items: center;
}
.yot-flex-fd-c-ai-c-jc-c {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.yot-flex-fd-c-ai-c-jc-e {
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.yot-flex-fd-c-ai-e {
  flex-direction: column;
  align-items: end;
}
.yot-flex-ai-c-jc-e {
  align-items: center;
  justify-content: end;
}
.yot-flex-ai-c-jc-sa {
  align-items: center;
  justify-content: space-around;
}

.yot-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.yot-form-container {
  width: 300px;
}

.yot-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.yot-form-group-container {
  position: relative;
}

.yot-form-group-icon-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 24px;
}

.yot-form-group-icon-right {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
}

.yot-form-group-label {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 0.75rem;
}

.yot-form-group-input-text-l {
  padding-left: 40px !important;
}

.yot-form-group-input-text-lr {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.yot-form-input-success {
  border: 1px solid hsl(122, 39%, 49%);
}

.yot-form-input-err {
  border: 1px solid hsl(4, 100%, 50%);
}

.yot-form-input {
  width: 100%;
  padding: 14px 16px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  border: 1px solid hsl(207, 90%, 54%);
}

.yot-form-input:focus {
  outline: none !important;
}

.yot-form-input-ls {
  width: 100%;
  padding: 14px 16px;
  box-sizing: border-box;
  border: none;
  color: hsl(0, 0%, 100%) !important;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid hsl(0, 0%, 100%);
  border-left: 2px solid transparent;
  background-color: hsl(213, 27%, 6%);
  font-size: 16px;
}

.yot-form-input-ls:focus {
  outline: none !important;
  border: 2px solid hsl(23, 100%, 50%);
}

.yot-form-input-good {
  border: 1px solid hsl(122, 39%, 49%);
}

.yot-form-input-bad {
  border: 1px solid hsl(4, 100%, 50%);
}

.yot-form-select {
  padding: 16px;
  font-size: 16px;
  color: white;
  background-color: hsl(221, 70%, 45%);
  border: none;
  border-radius: 5px;
}

.yot-form-select:focus {
  outline: none;
}

.yot-form-select option {
  height: 50px;
  line-height: 50px; /* Vertically center text within option */
  padding: 0 16px; /* Add horizontal padding to option */
  color: hsl(0, 0%, 100%);
  background-color: hsl(221, 70%, 45%);
}

.yot-header {
  position: fixed;
  top: 0;
  width: 100%;
}

.yot-h-8-33 {
  height: 8.33%;
}

.yot-h-16-66 {
  height: 16.66%;
}

.yot-h-25 {
  height: 25%;
}

.yot-h-33-33 {
  height: 33.33%;
}

.yot-h-41-66 {
  height: 41.66%;
}

.yot-h-50 {
  height: 50%;
}

.yot-h-58-33 {
  height: 58.33%;
}

.yot-h-66-66 {
  height: 66.66%;
}

.yot-h-75 {
  height: 75%;
}

.yot-h-83-33 {
  height: 83.33%;
}

.yot-h-91-66 {
  height: 91.66%;
}

.yot-h-100 {
  height: 100%;
}

.yot-vh-8-33 {
  height: 8.33vh;
}

.yot-vh-16-66 {
  height: 16.66vh;
}

.yot-vh-25 {
  height: 25vh;
}

.yot-vh-33-33 {
  height: 33.33vh;
}

.yot-vh-41-66 {
  height: 41.66vh;
}

.yot-vh-50 {
  height: 50vh;
}

.yot-vh-58-33 {
  height: 58.33vh;
}

.yot-vh-66-66 {
  height: 66.66vh;
}

.yot-vh-75 {
  height: 75vh;
}

.yot-vh-83-33 {
  height: 83.33vh;
}

.yot-vh-91-66 {
  height: 91.66vh;
}

.yot-vh-100 {
  height: 100vh;
}

.yot-hero {
  width: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 33.875rem;
}
.yot-hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.yot-hero-title h1 {
  font-family: "Fraunces", serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  letter-spacing: 3px;
}

.yot-img-circle-64 img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.yot-img-circle-128 img {
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

.yot-lsp-1 {
  letter-spacing: 0.0625rem;
}

.yot-lsp-2 {
  letter-spacing: 0.125rem;
}

.yot-lsp-3 {
  letter-spacing: 0.1875rem;
}

.yot-loader-blue1 {
  border: 5px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  border-top: 5px solid hsl(221, 70%, 45%);
  width: 24px;
  height: 24px; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.yot-mt-0 {
  margin-top: 0rem;
}

.yot-mt-4 {
  margin-top: 0.25rem;
}

.yot-mt-8 {
  margin-top: 0.5rem;
}

.yot-mt-16 {
  margin-top: 1rem;
}

.yot-mt-24 {
  margin-top: 1.5rem;
}

.yot-mt-48 {
  margin-top: 3rem;
}

.yot-mr-0 {
  margin-right: 0rem;
}

.yot-mr-4 {
  margin-right: 0.25rem;
}

.yot-mr-8 {
  margin-right: 0.5rem;
}

.yot-mr-16 {
  margin-right: 1rem;
}

.yot-mr-24 {
  margin-right: 1.5rem;
}

.yot-mr-48 {
  margin-right: 3rem;
}

.yot-mb-0 {
  margin-bottom: 0rem;
}

.yot-mb-4 {
  margin-bottom: 0.25rem;
}

.yot-mb-8 {
  margin-bottom: 0.5rem;
}

.yot-mb-16 {
  margin-bottom: 1rem;
}

.yot-mb-24 {
  margin-bottom: 1.5rem;
}

.yot-mb-48 {
  margin-bottom: 3rem;
}

.yot-ml-0 {
  margin-left: 0rem;
}

.yot-ml-4 {
  margin-left: 0.25rem;
}

.yot-ml-8 {
  margin-left: 0.5rem;
}

.yot-ml-16 {
  margin-left: 1rem;
}

.yot-ml-24 {
  margin-left: 1.5rem;
}

.yot-ml-48 {
  margin-left: 3rem;
}

.yot-mtb-0 {
  margin: 0rem;
}

.yot-mtb-4 {
  margin: 0.25rem 0rem;
}

.yot-mtb-8 {
  margin: 0.5rem 0rem;
}

.yot-mtb-16 {
  margin: 1rem 0rem;
}

.yot-mtb-24 {
  margin: 1.5rem 0rem;
}

.yot-mtb-48 {
  margin: 3rem 0rem;
}

.yot-mlr-0 {
  margin: 0rem;
}

.yot-mlr-4 {
  margin: 0rem 0.25rem;
}

.yot-mlr-8 {
  margin: 0rem 0.5rem;
}

.yot-mlr-16 {
  margin: 0rem 1rem;
}

.yot-mlr-24 {
  margin: 0rem 1.5rem;
}

.yot-mlr-48 {
  margin: 0rem 3rem;
}

.yot-ma-0 {
  margin: 0rem;
}

.yot-ma-4 {
  margin: 0.25rem;
}

.yot-ma-8 {
  margin: 0.5rem;
}

.yot-ma-16 {
  margin: 1rem;
}

.yot-ma-24 {
  margin: 1.5rem;
}

.yot-ma-48 {
  margin: 3rem;
}

.yot-pt-0 {
  padding-top: 0rem;
}

.yot-pt-4 {
  padding-top: 0.25rem;
}

.yot-pt-8 {
  padding-top: 0.5rem;
}

.yot-pt-16 {
  padding-top: 1rem;
}

.yot-pt-24 {
  padding-top: 1.5rem;
}

.yot-pt-48 {
  padding-top: 3rem;
}

.yot-pr-0 {
  padding-right: 0rem;
}

.yot-pr-4 {
  padding-right: 0.25rem;
}

.yot-pr-8 {
  padding-right: 0.5rem;
}

.yot-pr-16 {
  padding-right: 1rem;
}

.yot-pr-24 {
  padding-right: 1.5rem;
}

.yot-pr-48 {
  padding-right: 3rem;
}

.yot-pb-0 {
  padding-bottom: 0rem;
}

.yot-pb-4 {
  padding-bottom: 0.25rem;
}

.yot-pb-8 {
  padding-bottom: 0.5rem;
}

.yot-pb-16 {
  padding-bottom: 1rem;
}

.yot-pb-24 {
  padding-bottom: 1.5rem;
}

.yot-pb-48 {
  padding-bottom: 3rem;
}

.yot-pl-0 {
  padding-left: 0rem;
}

.yot-pl-4 {
  padding-left: 0.25rem;
}

.yot-pl-8 {
  padding-left: 0.5rem;
}

.yot-pl-16 {
  padding-left: 1rem;
}

.yot-pl-24 {
  padding-left: 1.5rem;
}

.yot-pl-48 {
  padding-left: 3rem;
}

.yot-ptb-0 {
  padding: 0rem;
}

.yot-ptb-4 {
  padding: 0.25rem 0rem;
}

.yot-ptb-8 {
  padding: 0.5rem 0rem;
}

.yot-ptb-16 {
  padding: 1rem 0rem;
}

.yot-ptb-24 {
  padding: 1.5rem 0rem;
}

.yot-ptb-48 {
  padding: 3rem 0rem;
}

.yot-plr-0 {
  padding: 0rem;
}

.yot-plr-4 {
  padding: 0rem 0.25rem;
}

.yot-plr-8 {
  padding: 0rem 0.5rem;
}

.yot-plr-16 {
  padding: 0rem 1rem;
}

.yot-plr-24 {
  padding: 0rem 1.5rem;
}

.yot-plr-48 {
  padding: 0rem 3rem;
}

.yot-pa-0 {
  padding: 0rem;
}

.yot-pa-4 {
  padding: 0.25rem;
}

.yot-pa-8 {
  padding: 0.5rem;
}

.yot-pa-16 {
  padding: 1rem;
}

.yot-pa-24 {
  padding: 1.5rem;
}

.yot-pa-48 {
  padding: 3rem;
}

.yot-pc-parent {
  position: relative;
}

.yot-pc-top {
  position: absolute;
  top: 0; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%); /* This is a shorthand of
         translateX(-50%) and translateY(-50%) */
}

.yot-pc-bottom {
  position: absolute;
  bottom: 0px; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, 0); /* This is a shorthand of
       translateX(-50%) and translateY(-50%) */
}

/* 1200px */
@media only screen and (min-width: 75em) { /* Extra large devices (large laptops and desktops, 1200px and up) */
  .yot-resize-font-18 {
    font-size: 1.125rem;
  }
  .yot-resize-font-64 {
    font-size: 3.5rem;
  }
  .yot-resize-font-72 {
    font-size: 4.5rem;
  }
  .yot-resize-font-80 {
    font-size: 5rem;
  }
}
/* 992px */
@media only screen and (min-width: 62em) { /* Large devices (laptops/desktops) */
  .yot-row {
    display: flex;
    padding: 8px;
  }
  .yot-col {
    width: 100%;
    padding: 0 8px;
  }
  .yot-col-8-33 {
    width: 8.33%;
    padding: 0 8px;
  }
  .yot-col-16-66 {
    width: 16.66%;
    padding: 0 8px;
  }
  .yot-col-25 {
    width: 25%;
    padding: 0 8px;
  }
  .yot-col-33-33 {
    width: 33.33%;
    padding: 0 8px;
  }
  .yot-col-41-66 {
    width: 41.66%;
    padding: 0 8px;
  }
  .yot-col-50 {
    width: 50%;
    padding: 0 8px;
  }
  .yot-col-58-33 {
    width: 58.33%;
    padding: 0 8px;
  }
  .yot-col-66-66 {
    width: 66.66%;
    padding: 0 8px;
  }
  .yot-col-75 {
    width: 75%;
    padding: 0 8px;
  }
  .yot-col-83-33 {
    width: 83.33%;
    padding: 0 8px;
  }
  .yot-col-91-66 {
    width: 91.66%;
    padding: 0 8px;
  }
  .yot-col-100 {
    width: 100%;
    padding: 0 8px;
  }
}
/* Style the scrollbar */
.yot-scrollbar::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
  background-color: hsl(213, 27%, 6%); /* Set the background color of the scrollbar */
}

/* Style the thumb (the part of the scrollbar that you drag) */
.yot-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Round the corners of the thumb */
  background-color: hsl(221, 70%, 45%); /* Set the background color of the thumb */
}

.yot-table-blue-theme {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-table-blue-theme td, .yot-table-blue-theme th {
  padding: 8px;
}

.yot-table-blue-theme tr:nth-child(even) {
  background-color: #f2f2f2;
}

.yot-table-blue-theme tr:hover {
  background-color: #ddd;
}

.yot-table-blue-theme th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsl(221, 70%, 45%);
  color: hsl(0, 0%, 100%);
}

.yot-styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  background-color: #ffffff;
}

.yot-styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.yot-styled-table thead tr #yot-table-blue-theme {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.yot-styled-table thead tr #yot-table-blue-theme td, .yot-styled-table thead tr #yot-table-blue-theme th {
  border: 1px solid #ddd;
  padding: 8px;
}
.yot-styled-table thead tr #yot-table-blue-theme tr:nth-child(even) {
  background-color: #f2f2f2;
}
.yot-styled-table thead tr #yot-table-blue-theme tr:hover {
  background-color: #ddd;
}
.yot-styled-table thead tr #yot-table-blue-theme th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.yot-styled-table th,
.yot-styled-table td {
  padding: 12px 15px;
}

.yot-styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.yot-styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.yot-styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.yot-styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.yot-styled-table-remarks {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.yot-styled-table-remarks thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.yot-styled-table-remarks th,
.yot-styled-table-remarks td {
  padding: 12px 15px;
}

.yot-styled-table-remarks tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: left;
}

.yot-styled-table-remarks tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.yot-styled-table-remarks tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.yot-overlay-bg-trans {
  position: fixed;
  inset: 0;
  opacity: 0.5 !important;
  width: 100%;
  height: 100vh;
}

.yot-overlay-left {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yot-overlay-mid-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.yot-overlay-mid-child {
  position: relative;
  width: 300px;
}

.yot-tc-black {
  color: hsl(0, 0%, 0%);
}

.yot-tc-black1 {
  color: hsl(213, 27%, 6%);
}

.yot-tc-green {
  color: hsl(122, 39%, 49%);
}

.yot-tc-red {
  color: hsl(4, 100%, 50%);
}

.yot-tc-orange {
  color: hsl(23, 100%, 50%) !important;
}

.yot-tc-white {
  color: hsl(0, 0%, 100%);
}

.yot-tc-yellow1 {
  color: hsl(35, 97%, 63%);
}

.yot-tc-yellow {
  color: hsl(54, 100%, 62%);
}

.yot-tc-green {
  color: hsl(122, 39%, 49%);
}

.yot-tc-blue1 {
  color: hsl(221, 70%, 45%);
}

.yot-tc-pink1 {
  color: hsl(343, 93%, 49%);
}

.yot-tc-red {
  color: hsl(4, 100%, 50%);
}

.yot-tc-blue3 {
  color: hsl(200, 100%, 28%);
}

.yot-tff-default {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.yot-tff-sas {
  font-family: "Segoe UI", Arial, sans-serif;
}

.yot-text-fs-t {
  font-size: 0.625rem;
}

.yot-text-fs-xsm {
  font-size: 0.75rem;
}

.yot-text-fs-sm {
  font-size: 0.875rem;
}

.yot-text-fs-m {
  font-size: 1rem;
}

.yot-text-fs-l {
  font-size: 1.125rem;
}

.yot-text-fs-xl {
  font-size: 1.25rem;
}

.yot-text-fs-xxl {
  font-size: 1.375rem;
}

.yot-text-fs-jsm {
  font-size: 1.875rem;
}

.yot-text-fs-jm {
  font-size: 2.25rem;
}

.yot-text-center {
  text-align: center;
}

.yot-text-start {
  text-align: start;
}

.yot-text-end {
  text-align: end;
}

.yot-w {
  width: 100%;
}

.yot-w-8-33 {
  width: 8.33%;
}

.yot-w-16-66 {
  width: 16.66%;
}

.yot-w-25 {
  width: 25%;
}

.yot-w-33-33 {
  width: 33.33%;
}

.yot-w-41-66 {
  width: 41.66%;
}

.yot-w-50 {
  width: 50%;
}

.yot-w-58-33 {
  width: 58.33%;
}

.yot-w-66-66 {
  width: 66.66%;
}

.yot-w-75 {
  width: 75%;
}

.yot-w-83-33 {
  width: 83.33%;
}

.yot-w-91-66 {
  width: 91.66%;
}

.yot-w-100 {
  width: 100%;
}

.yot-z-index-1 {
  z-index: 1 !important;
}

.yot-z-index-2 {
  z-index: 2 !important;
}

.yot-z-index-3 {
  z-index: 3 !important;
}

.image-container-RTP {
  height: 300px;
  padding: 16px;
}
.image-container-RTP img {
  margin: auto auto;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.index-hero-bg {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  z-index: -1;
  height: 400px;
  background: url(../images/hero-bg1.jpg);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pp-table-images img {
  width: 150px !important;
  height: 150px !important;
}

.cart-list-user-my-cart {
  position: fixed;
  left: 0;
  right: 0;
  height: 500px;
  overflow-y: auto;
  margin: auto;
}

.point-arrow-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; /* center the triangle horizontally */
  transform: translateX(-50%) translateY(-100%) rotate(45deg); /* position and rotate the triangle */
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #ccc; /* match the div's background color */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}/*# sourceMappingURL=style.css.map */